@media (min-width:320px) and (max-width:481px) { /* smartphones, iPhone, portrait 480x320 phones */ 
.block1{
height: 110vh;
}
.block1-img1{
height: 110vh;
}
.block1 h1{
  top: 35%;
}
.block1-arrow{
    top: 80vh;
    height: 15vw;
}
@keyframes saltella {
    0%{
top: 80vh;
    }
    25%{
top: 75vh;
    }
    50%{
top: 80vh;
    }
}
.block1 h1{
  line-height: 18vmin; 
  font-size: 18vmin;
  padding: 2vmin;
}
.block1 h2{
  width: 80vw;
  transform: translate(-50%, -30%);
  font-size: 5vmin;
}
nav{
height: 16vmin;
}
.nav-a{
  font-size: 6vmin;
  padding: 3vmin 16px;
}
.it-en{
  top: 10vh;
  right: 5vw;
  font-size: 7vmin;
  font-weight: 300;
}
.bottom-svg{
    width: 100vw;
    position: absolute;
    bottom: -170vh;
    z-index: 1;
}
.main-intro{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.2vh;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
width: 90vw;
}
.title-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
padding-top: 2vh;
font-size: 2.5vh;
}
.subtitle-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.5vh;
padding-top: 2vh;
width: 90vw;
}
.h2-list{
padding-top: 4vh;
font-family: montserrat;
font-size: 4vh;
width: 90vw;
text-align: center;
position: relative;
left: 50%;
transform: translate(-50%);
z-index: 2;
}
.p-list{
width: 90vw;
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.8vh;
padding-top: 3.5vh;
z-index: 2;
line-height: 3.5vh;
}
.site-speed-img{
  z-index: 10;
  height: 35vh;
  border-radius: 50%;
  position: relative;
  left: 50%;
  text-align: center;
  margin-top: 5vh;
  transform: translate(-50%);
}
.speed-description{
  position: relative;
  left: 50%;
  font-size: 2vh;
  margin-top: 3vh;
  text-align: center;
  transform: translate(-50%);
  z-index: 11;
  width: 75vw;
}



.redblock-h2-1{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
padding-top: 15vh;
left: 50%;
transform: translate(-50%);
}
.p-list2{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -18vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.redblock-h2-2{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
left: 50%;
top: -10vh;
transform: translate(-50%);
}
.p-list3{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -30vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}

 .block-title-white{
    text-align: center;
    font-size: 4vh;
    padding-top: 4vh;
    font-family: source sans pro, poppins;
    color: #ffffff;
    z-index: 2;
}
.block2-img1{
    position: absolute;
    left: 50%;
    margin-top: 35vh;
    transform: translate(-50%);
    height: 50vmin;
}
.rectangle, .cube{
    visibility: hidden;
}
.block2 p{
    width: 65vw;
    padding-top: 12vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 3;
    text-align: center;
    font-size: 2.2vmax;
}
.block3{
    height: 200vh;
}
.block3 img{
    width: 55vmin;
}
.block3 p{
    width: 55vw;
    font-size: 4vmin;
}
.svg1{
padding-top: 25vmin;
padding-left: 20vw;
}
.text1{
padding-top: 15vmin;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg2{
padding-top: 25vmin;
padding-left: 25vw;
float: left;
}
.text2{
padding-top: 15vmin;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg3{
padding-top: 25vmin;
padding-left: 20vw;
}
.text3{
padding-top: 15vmin;
padding-left: 25vw;
float: left;
text-align: center;
}
.block4{
  height: 200vw;
}
.orange-rect{
border-radius: 20px 20px 0 0;
margin-top: 10vh;
display: block;
margin-left: 10vw;
float: left;
height: 10vh;
width: 80vw;
background-color: #FCAB26;
}
.mail-font{
    color: white;
    top: 4.5vh;
    font-size: 8vmin;
}
.orange-text{
  color: #11151C;
  left: 8.5vw;
    font-size: 6vmin;
    font-family: source sans pro;
    font-weight: 600;
}
.orange-text-bottom{
  visibility: hidden;
}
.white-rect{
border-radius: 0 0 20px 20px;
margin-top: 0;
margin-left: 10vw;
float: left;
display: block;
height: 150vw;
width: 80vw;
background-color: white;
font-family: source sans pro;
}
footer{
  font-size: 3vmin;
}
}
@media (min-width:481px) and (max-width:641px) {
.block1{
height: 110vh;
}
.block1-img1{
height: 110vh;
}
.block1 h1{
  top: 35%;
}
.block1-arrow{
    top: 80vh;
    height: 15vw;
}
@keyframes saltella {
    0%{
top: 80vh;
    }
    25%{
top: 75vh;
    }
    50%{
top: 80vh;
    }
}
.block1 h1{
  line-height: 14vmin; 
  font-size: 14vmin;
  padding: 2vmin;
}
.block1 h2{
  width: 80vw;
  transform: translate(-50%, -30%);
  font-size: 3.5vmin;
}
nav{
height: 12vh;
}
.nav-a{
  font-size: 6vmin;
  padding: 3vmin 16px;
}
.it-en{
  top: 18vh;
  right: 5vw;
  font-size: 5vmin;
  font-weight: 300;
}

.bottom-svg{
    width: 100vw;
    position: absolute;
    bottom: -175vh;
    z-index: 1;
}
.main-intro{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.2vh;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
width: 90vw;
}
.title-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
padding-top: 2vh;
font-size: 2.5vh;
}
.subtitle-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.5vh;
padding-top: 2vh;
width: 90vw;
}
.h2-list{
padding-top: 4vh;
font-family: montserrat;
font-size: 4vh;
width: 90vw;
text-align: center;
position: relative;
left: 50%;
transform: translate(-50%);
z-index: 2;
}
.p-list{
width: 90vw;
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.8vh;
padding-top: 3.5vh;
z-index: 2;
line-height: 3.5vh;
}
.site-speed-img{
  z-index: 10;
  height: 35vh;
  border-radius: 50%;
  position: relative;
  left: 50%;
  text-align: center;
  margin-top: 5vh;
  transform: translate(-50%);
}
.speed-description{
  position: relative;
  left: 50%;
  font-size: 2vh;
  margin-top: 3vh;
  text-align: center;
  transform: translate(-50%);
  z-index: 11;
  width: 75vw;
}



.redblock-h2-1{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
padding-top: 15vh;
left: 50%;
transform: translate(-50%);
}
.p-list2{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -18vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.redblock-h2-2{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
left: 50%;
top: -10vh;
transform: translate(-50%);
}
.p-list3{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -30vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}

 .block-title-white{
    text-align: center;
    font-size: 4vh;
    padding-top: 4vh;
    font-family: source sans pro, poppins;
    color: #ffffff;
    z-index: 2;
}
.block2-img1{
    position: absolute;
    left: 50%;
    margin-top: 30vh;
    transform: translate(-50%);
    height: 50vmin;
}
.rectangle, .cube{
    visibility: hidden;
}
.block2 p{
    width: 65vw;
    padding-top: 12vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 3;
    text-align: center;
    font-size: 2.2vmax;
}
.block3{
    height: 220vh;
}
.block3 img{
    width: 36vw;
}
.block3 p{
    width: 70vw;
    font-size: 3vh;
}
.svg1{
padding-top: 20vh;
padding-left: 28vw;
}
.text1{
padding-top: 10vh;
padding-left: 15vw;
float: left;
text-align: center;
}
.svg2{
padding-top: 20vh;
padding-left: 28vw;
float: left;
}
.text2{
padding-top: 10vh;
padding-left: 15vw;
float: left;
text-align: center;
}
.svg3{
padding-top: 20vh;
padding-left: 28vw;
}
.text3{
padding-top: 10vh;
padding-left: 15vw;
float: left;
text-align: center;
}
.block4{
  height: 200vw;
}
.orange-rect{
border-radius: 20px 20px 0 0;
margin-top: 10vh;
display: block;
margin-left: 10vw;
float: left;
height: 15vmin;
width: 80vw;
background-color: #FCAB26;
}
.mail-font{
    color: white;
    top: 4.5vh;
    left: 40%;
    font-size: 8vmin;
}
.orange-text{
  color: #11151C;
  left: 18.5vw;
  top: -2vh;
    font-size: 4vmin;
    font-family: source sans pro;
    font-weight: 600;
}
.orange-text-bottom{
  visibility: hidden;
}
.white-rect{
border-radius: 0 0 20px 20px;
margin-top: 0;
margin-left: 10vw;
float: left;
display: block;
height: 150vw;
width: 80vw;
background-color: white;
font-family: source sans pro;
}
footer{
  font-size: 3vmin;
  position: absolute;
}
}


@media (min-width:641px) and (max-width:961px) and (min-height:500px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
.block1{
height: 110vh;
}
.block1-img1{
height: 110vh;
}
.block1 h1{
  top: 35%;
}
.block1-arrow{
    top: 80vh;
    height: 15vw;
}
@keyframes saltella {
    0%{
top: 80vh;
    }
    25%{
top: 75vh;
    }
    50%{
top: 80vh;
    }
}
.block1 h1{
  line-height: 14vmin; 
  font-size: 14vmin;
  padding: 2vmin;
}
.block1 h2{
  width: 80vw;
  transform: translate(-50%, -30%);
  font-size: 3.5vmin;
}
nav{
height: 12vh;
}
.nav-a{
  font-size: 4.5vh;
  padding: 3vmin 16px;
}
.it-en{
  top: 18vh;
  right: 5vw;
  font-size: 5vmin;
  font-weight: 300;
}
.bottom-svg{
    width: 100vw;
    position: absolute;
    bottom: -175vh;
    z-index: 1;
}
.main-intro{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.2vh;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
width: 90vw;
}
.title-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
padding-top: 2vh;
font-size: 2.5vh;
}
.subtitle-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.5vh;
padding-top: 2vh;
width: 90vw;
}
.h2-list{
padding-top: 4vh;
font-family: montserrat;
font-size: 4vh;
width: 90vw;
text-align: center;
position: relative;
left: 50%;
transform: translate(-50%);
z-index: 2;
}
.p-list{
width: 90vw;
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.8vh;
padding-top: 3.5vh;
z-index: 2;
line-height: 3.5vh;
}
.site-speed-img{
  z-index: 10;
  height: 35vh;
  border-radius: 50%;
  position: relative;
  left: 50%;
  text-align: center;
  margin-top: 5vh;
  transform: translate(-50%);
}
.speed-description{
  position: relative;
  left: 50%;
  font-size: 2vh;
  margin-top: 3vh;
  text-align: center;
  transform: translate(-50%);
  z-index: 11;
  width: 75vw;
}



.redblock-h2-1{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
padding-top: 15vh;
left: 50%;
transform: translate(-50%);
}
.p-list2{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -18vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.redblock-h2-2{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
left: 50%;
top: -10vh;
transform: translate(-50%);
}
.p-list3{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -30vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.block2-img1{
    position: absolute;
    left: 50%;
    text-align: center;
    margin-top: 30vh;
    transform: translate(-50%);
    height: 40vh;
}
.rectangle, .cube{
    visibility: hidden;
}
.block2 p{
    width: 65vw;
    padding-top: 12vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 3;
    text-align: center;
    font-size: 2.2vmax;
}
.block3{
    height: 200vh;
}
.block3 img{
    width: 40vh;

}
.block3 p{
    width: 55vw;
    font-size: 3vh;
}
.svg1{
padding-top: 15vh;
padding-left: 30vw;
}
.text1{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg2{
padding-top: 12vh;
padding-left: 30vw;
float: left;
}
.text2{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg3{
padding-top: 12vh;
padding-left: 30vw;
}
.text3{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.block4{
  height: 100vh;
}
.orange-rect{
border-radius: 20px 20px 0 0;
margin-top: 10vh;
display: block;
margin-left: 10vw;
float: left;
height: 10vh;
width: 80vw;
background-color: #FCAB26;
}
.mail-font{
    color: white;
    top: 4vh;
    left: 32vw;
    font-size: 8vmin;
}
.orange-text{
    font-size: 3.5vmin;
    position: relative;
    top: -2vh;
    left: 22%;
    
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
}
.orange-text-bottom{
  visibility: hidden;
}
.white-rect{
border-radius: 0 0 20px 20px;
margin-top: 0;
margin-left: 10vw;
float: left;
display: block;
height: 70vh;
width: 80vw;
background-color: white;
font-family: source sans pro;
}
footer{
  font-size: 3vmin;
}
}

@media (min-width:961px) and (max-width:1025px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
.block1{
height: 110vh;
}
.block1-img1{
height: 110vh;
}
.block1 h1{
  top: 35%;
}
.block1-arrow{
    top: 80vh;
    height: 15vw;
}
@keyframes saltella {
    0%{
top: 80vh;
    }
    25%{
top: 75vh;
    }
    50%{
top: 80vh;
    }
}
.block1 h1{
  line-height: 14vmin; 
  font-size: 14vmin;
  padding: 2vmin;
}
.block1 h2{
  width: 80vw;
  transform: translate(-50%, -30%);
  font-size: 3.5vmin;
}
nav{
height: 12vh;
}
.nav-a{
  font-size: 4.5vh;
  padding: 3vmin 16px;
}
.it-en{
  top: 18vh;
  right: 5vw;
  font-size: 5vmin;
  font-weight: 300;
}
.bottom-svg{
    width: 100vw;
    position: absolute;
    bottom: -175vh;
    z-index: 1;
}
.main-intro{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.2vh;
padding-top: 2.5vh;
padding-bottom: 2.5vh;
width: 90vw;
}
.title-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
padding-top: 2vh;
font-size: 2.5vh;
}
.subtitle-main{
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.5vh;
padding-top: 2vh;
width: 90vw;
}
.h2-list{
padding-top: 4vh;
font-family: montserrat;
font-size: 4vh;
width: 90vw;
text-align: center;
position: relative;
left: 50%;
transform: translate(-50%);
z-index: 2;
}
.p-list{
width: 90vw;
position: relative;
left: 50%;
transform: translate(-50%);
text-align: center;
font-size: 2.8vh;
padding-top: 3.5vh;
z-index: 2;
line-height: 3.5vh;
}
.site-speed-img{
  z-index: 10;
  height: 35vh;
  border-radius: 50%;
  position: relative;
  left: 50%;
  text-align: center;
  margin-top: 5vh;
  transform: translate(-50%);
}
.speed-description{
  position: relative;
  left: 50%;
  font-size: 2vh;
  margin-top: 3vh;
  text-align: center;
  transform: translate(-50%);
  z-index: 11;
  width: 75vw;
}



.redblock-h2-1{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
padding-top: 15vh;
left: 50%;
transform: translate(-50%);
}
.p-list2{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -18vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.redblock-h2-2{
text-align: center;
z-index: 2;
font-size: 4vh;
position: relative;
width: 90vw;
left: 50%;
top: -10vh;
transform: translate(-50%);
}
.p-list3{
width: 90vw;
position: relative;
font-size: 3vh;
left: 50%;
top: -30vh;
transform: translate(-50%);
text-align: center;
z-index: 2;
line-height: 4.5vh;
}
.block2-img1{
    position: absolute;
    left: 50%;
    text-align: center;
    margin-top: 30vh;
    transform: translate(-50%);
    height: 40vh;
}
.rectangle, .cube{
    visibility: hidden;
}
.block2 p{
    width: 65vw;
    padding-top: 12vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 3;
    text-align: center;
    font-size: 2.2vmax;
}
.block3{
    height: 200vh;
}
.block3 img{
    width: 40vh;

}
.block3 p{
    width: 55vw;
    font-size: 3vh;
}
.svg1{
padding-top: 15vh;
padding-left: 30vw;
}
.text1{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg2{
padding-top: 12vh;
padding-left: 30vw;
float: left;
}
.text2{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.svg3{
padding-top: 12vh;
padding-left: 30vw;
}
.text3{
padding-top: 7vh;
padding-left: 25vw;
float: left;
text-align: center;
}
.block4{
  height: 100vh;
}
.orange-rect{
border-radius: 20px 20px 0 0;
margin-top: 10vh;
display: block;
margin-left: 10vw;
float: left;
height: 10vh;
width: 80vw;
background-color: #FCAB26;
}
.mail-font{
    color: white;
    top: 4vh;
    left: 32vw;
    font-size: 8vmin;
}
.orange-text{
    font-size: 3.5vmin;
    position: relative;
    top: -2vh;
    left: 22%;
    
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
}
.orange-text-bottom{
  visibility: hidden;
}
.white-rect{
border-radius: 0 0 20px 20px;
margin-top: 0;
margin-left: 10vw;
float: left;
display: block;
height: 70vh;
width: 80vw;
background-color: white;
font-family: source sans pro;
}
footer{
  font-size: 3vmin;
}
}

/*@media (min-width:1025px) and (max-width:1281px){ /* big landscape tablets, laptops, and desktops  }*/
